p      {
    text-align: center;
    width: 150px;
    height: 50px;
    border: 1px solid orange;
    position: relative;
    animation: mymove 5s infinite;
}

@keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
  }